/* Info PJ 서브페이지용 CSS - sub.css */

/* 공통 외부CSS 불러오기 */
@import url(./common.css);
/* 
    @import 방식으로 외부파일 불러와서 합치면
    html 파일에서 link방식으로 불러올 필요가 없다!
    이것의 잇점은 웹요청(http request)이 줄어들어
    html의 랜더링 속도가 향상된다!
*/

/* 서브페이지 파이틀 */
h2.sub-title{
    /* 글자색 : c */
    color: #298f29;
    /* color: #40e440b0; */
         /* color: rgba(64, 228, 64, 0.69); */
    /* color: hsla(120, 75%, 57%, 0.69); */
    /* color: hwb(120 25% 11% / 0.69); */

    /* 글자크기 : font-size (fz) */
    font-size: 38px;
    /* 글자두께 : font-weight (fw),(fwb) */
    /* font-weight: bold; */
    font-weight: normal;
    
    /* 글자체 : font-family
    -콤마로 구분된 글자체는 대체체임 */
    /* font-family: '궁서','돋음','맑은 고딕'; */

    font-family: "Bagel Fat One", system-ui;

    /* 텍스트 정렬 - text-align:container: ;
    (tac : 중앙정렬  */
    text-align: center;

    /* 글자 그림자 : text-shadow */
    text-shadow: 4px 4px 2px rgb(0, 0, 0, 0.35);
    
    /* 박스 테두리 -border(bd) :두께 종류 색상
        -두께 : 선두께
        -종류 : 선종류(solid실선,dotted점선,dashed데쉬선 등)
        -색상 : 테두리색상 */
    border: 5px solid #a825a2;

    /* 둥근 모서리 -border-radius(brad) */
    border-radius: 20px;

    /* 페딩 -p */
    padding: 20px;

    /* 배경색 : bgc */
    background-color: #ffffff;
    
    /* 배경이미지 : bgi */


    /* 배경 반복여부 bgr */
    background-repeat: no-repeat;
    /* 배경고정 */

    /* 배경위치 (bgp)*/
    background-position: center;

    /* 배경크기 (bgz)
    -cover 는 박스를 빈틈없이 비율유지하여 채움! */
    background-size: cover;
    

    /* 외부CSS 에서 이미지경로 주의!!
    html파일이 아닌 CSS파일 위치에서 상대경로를 잡아야 이미지가 나온다!! */

}

/* 정치 */
    .pt{
        /* 배경이미지 :bgi   개별적으로줌!*/
        background-image: url(../images/titbg1.jpg);}
/* 경제 */
    .nn{background-image: url(../images/titbg2.jpg);}   
/* 사회 */
    .sn{background-image: url(../images/titbg3.jpg);}
/* 과학 */
    .it{background-image: url(../images/titbg4.jpg);}
/* 연예 */
    .tv{background-image: url(../images/titbg5.jpg);}
